.header {
    height: 75px;
    background-color: $background-dark;
    position: relative;

    &-flex {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        cursor: pointer;
    }

    &-right {
        .header-item {
            margin-left: 33px;
            margin-top: 26px;
        }
    }
}

#logo {
    margin: 18px 41px 0px 1px;
    @media (max-width: 1024px) {
        margin-left: 16px;
    }
    @media (max-width: 667px) {
        margin-left: 0;
    }
}

#cart {
    margin-right: 1px;
    @media (max-width: 1024px) {
        margin-right: 16px;
    }
    @media (max-width: 667px) {
        display: none;
    }
}

#user-icon {
    @media (max-width: 667px) {
        display: none;
    }
}