.b-footerContacts {
    min-height: 79px;
    background-color: $background-dark;
    @media (max-width: 667px) {
        min-height: 143px;
    }

    &__flexWrapper {
        display: flex;
        justify-content: space-between;
        @media (max-width: 667px) {
            flex-direction: column-reverse;
            text-align: center;
        }
    }

    &__flexItem {
        &_left {
            @media (max-width: 1024px) and (min-width:668px) {
                margin-left: 16px;
            }
        }

        &_right {
            @media (max-width: 1024px) and (min-width:668px) {
                margin-right: 16px;
            }
        }
    }

    &__copyright {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $features-text;
        margin-top: 30px;
        @media (max-width: 667px) {
            margin-top: 40px;
            box-sizing: border-box;
            padding-bottom: 9px;
        }
    }

    &__iconField {
        display: inline-block;
        margin: 24px 0 0 7.29px;
        height: 32px;
        width: 31.45px;
        background-color: $categories-light;
        position: relative;
        cursor: pointer;
        transition: background-color 1s ease;
        @media (max-width: 667px) {
            margin-top: 43px;
        }

        &:hover {
            background-color: $theme;
    
            .b-footerContacts__icon {
                filter: invert(90%) sepia(100%) saturate(12%) hue-rotate(344deg) brightness(115%) contrast(100%);
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: filter 0.5s ease;
    }
}